body, html {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  margin: 0 auto;
  padding: 0;
  color: #000;
}

i {
  font-size: 14px;
  line-height: 1.35;
}

.app {
  width: 100%;
  background: #fff;
}

#modal {
  position: relative;
  z-index: 1001;
}

.modal {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable {
  cursor: pointer;
}

.player-wrapper {
  position: relative;
  width: 100%;
}

.my-sticky-row {
  color: #FFF;
  line-height: 30px;
  border-bottom: 1px solid #c9e9f6;
  padding-left: 10px;
  box-sizing: border-box;
}

.sticky-wrapper {
  /* display: flex; */
  height: 100vh;
  width: 100vw;
}

.kek {
  height: 100%;
}

.list-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #ffffffdf;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #000;
  height: 44px;
  margin: 0 -20px;
  padding: 4px 20px;
  box-sizing: border-box;
  transform: translate3d(0, -48px, 0);
  box-shadow: 0 2px 0 -1px rgba(0,0,0,.11), inset -1px 0 0 0 rgba(0,0,0,.11);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.list-fixed.open {
  transform: translate3d(0, 0, 0);
}

.list-item-wrapper {
  padding: 3px 0;
}

.list-item {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 4px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  outline: none;
  cursor: pointer;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.list-item:hover {
  background-color: #f2f4f7;
  border-radius: 4px;
}

.container {
  padding: 0 20px;
}

.list-item-cover {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-color: #e6edf5;
  background-size: cover;
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item:hover .list-item-cover-bg {
  background-color: rgba(0,0,0,.5);
}

.list-item:hover .list-item-cover-bg > svg {
  color: #fff;
}

.list-item-cover-bg {
  background-color: transparent;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item-cover-bg.off {
  display: none;
}

.list-item-cover-bg > svg {
  font-size: 24px;
  color: rgb(119, 153, 196);
}

.list-item-content {
  padding-left: 12px;
  font-size: 13px;
  width: 100%;
  overflow: hidden;
}

.list-item-title {
  padding-left: 0;
  font-weight: 500;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  margin-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-item-sub {
  color: #939393;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-performer {
  font-weight: 400;
  font-size: 12px;
  opacity: .8;
}

.list-year,
.list-season,
.list-date {
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 58px;
  font-size: 14px;
  opacity: 0.7;
  padding-top: 18px;
  box-sizing: border-box;
}

.list-item-actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 6px;
}

.list-item-icon {
  display: inline-block;
  outline: none;
  cursor: help;
  height: 24px;
  width: 24px;
  font-size: 24px;
  margin: 0 2px;
  opacity: .7;
  border: none;
  color: rgb(164, 170, 180);
  padding: 0;
}

.list-item:hover .list-item-icon {
  color: rgb(131, 138, 152);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 260px;
  box-sizing: border-box;
}

.grid-2 {
  box-sizing: border-box;
  overflow: hidden;
  border-right: 1px solid #e7e8ec;
}

.grid-1 {
  flex-shrink: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: none;
  }
  .grid-1 {
    display: none;
  }
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 14px;
  z-index: 1;
}

.cover-item {
  width: 150px;
  position: relative;
  padding: 6px 4px 0;
  background: none;
  border: none;
  text-align: left;
  outline: none;
  cursor: pointer;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

.cover-item-cover {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  background-color: #e6edf5;
  color: rgb(119, 153, 196);
  font-size: 24px;
  background-size: cover;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.05), 0 9px 16px -8px rgba(0,0,0,.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-item-cover > svg {
  font-size: 64px;
}

.cover-item-title,
.cover-item-artist,
.cover-item-anime {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}

.cover-item-title {
  padding-left: 0;
  font-weight: 500;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  margin: 12px 0 4px;
}

.cover-item-artist {
  font-weight: 400;
  font-size: 12px;
  opacity: .8;
  margin-bottom: 2px;
}

.cover-item-anime {
  color: #939393;
  font-weight: 400;
}

.popular {
  padding: 6px 20px 20px;
}

.carousel-wrapper {
  margin: 0 -20px;
  height: 245px;
}

.glide-item:first-child {
  padding-left: 20px;
}

.glide-item:last-child {
  padding-right: 20px;
}

.shelf-modal {
  padding: 0;
  max-width: 540px;
  width: 100%;
  min-height: 260px;
  box-shadow: 0 54px 82px -74px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.video-modal {
  max-width: 540px;
  width: 100%;
  min-height: 260px;
  background: none;
  padding: 0;
}

.shelf-overlay {
  background: rgba(35, 35, 35, 0.7);
}

.shelf-closeButton {
  top: 6px;
  right: -42px;
  outline: none;
  cursor: pointer;
}

.shelf-closeIcon {
  color: #fff;
  opacity: .5;
}

.shelf-closeButton:hover .shelf-closeIcon {
  opacity: .8;
}

.modal-heading {
  width: 100%;
  height: 100px;
  position: relative;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.modal-heading-bg {
  position: absolute;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
  background-color: rgb(119, 153, 196);
  background-size: cover;
  background-position: center;
  filter: blur(9px);
  top: -30px;
  left: -30px;
  opacity: .4;
}

.modal-head {
  display: flex;
  position: relative;
  margin-top: -84px;
  padding: 0 16px 24px;
}

.modal-head > .cover-item-cover {
  flex-shrink: 0;
}

.modal-head-info {
  padding-left: 18px;
  padding-top: 8px;
  width: 100%;
  box-sizing: border-box;
}

.modal-head-title {
  height: 64px;
  font-weight: bold;
  font-size: 22px;
  color: #2d2d2d;
  overflow: hidden;
  line-height: 1.4;
}

.modal-head-artist {
  padding-top: 26px;
  font-size: 14px;
}

.modal-head-anime {
  opacity: .6;
  padding-top: 8px;
  font-size: 14px;
}

.modal-actions {
  display: flex;
  padding: 24px 20px;
}

.modal-actions > *:not(:last-child) {
  margin-right: 24px;
}

.shelf-button {
  padding: 10px 16px 11px;
  margin: 0;
  font-size: 12.5px;
  display: inline-block;
  zoom: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  vertical-align: top;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  background: none;
  background-color: #5181b8;
  color: #fff;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
}

.shelf-button:hover {
  background-color: #5b88bd;
  text-decoration: none;
}

.shelf-button:active {
  background-color: #4872a3;
  padding-top: 11px;
  padding-bottom: 10px;
}

.shelf-button.block {
  width: 100%;
}

.shelf-button[disabled] {
  opacity: .7;
  cursor: default;
  pointer-events: none;
}

.media-content {
  display: flex;
  margin: 0 -12px;
}

.media-col {
  width: 50%;
  padding: 0 12px;
}

.modal-content-type + .modal-content-type {
  padding-top: 12px;
}

.media-item {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  border: none;
  outline: none;
  background: #f0f2f5;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.05);
}

.media-item:hover {
  background: #e6edf5;
}

.media-icon {
  font-size: 56px;
  color: rgb(119, 153, 196);
  margin-bottom: 8px;
}

.media-title {
  font-weight: 500;
  letter-spacing: 0.2;
}



























@media screen and (max-width: 570px) {
  .modal-head {
    flex-direction: column;
    align-items: center;
  }
  .modal-head-title {
    height: auto;
    padding-top: 12px;
  }
  .modal-head-artist {
    padding-top: 6px;
  }
  .modal-head-info {
    padding-left: 0;
  }
  .modal-actions {
    flex-direction: column;
  }
  .modal-actions > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .media-content {
    flex-direction: column;
  }
  .media-col {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;
  }
  .media-item {
    height: 60px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .media-icon {
    font-size: 42px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .shelf-closeButton {
    top: 6px;
    right: 6px;
  }
  
  .shelf-closeIcon {
    color: #000;
  }
}

.react-player {
  max-width: 540px;
  width: 100% !important;
  min-height: 260px;
  margin: auto;
}